/*
    Created on : 10 févr. 2016, 17:29:00
    Author     : Guillaume Martigny
*/

*{
    position: relative;
    box-sizing: content-box;
}

html, body{
    height: 100%;
}
body{
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}
body.ready #main .article{
    top: 50%;
}

#main{
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#main .article{
    position: absolute;
    margin-top: -300px;
    top: -100%;
    width: 100%;
    height: 600px;
    opacity: 1;
    transition: opacity linear .3s 0s, top ease-out .5s;
    background: linear-gradient(120deg,
        rgba(220, 230, 240, .5) 0, rgba(220, 230, 240, .5) 15%, rgba(250, 250, 250, .7) 20%, rgba(220, 230, 240, .5) 30%,
        rgba(250, 250, 250, .5) 32%, rgba(220, 230, 240, .5) 34%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}
#main .article:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: solid rgba(250, 250, 250, .8);
    border-width: 2px 0 0 2px;
}
#main .article.overflow{
    opacity: 0;
    z-index: -1 !important;
    transition: opacity linear .3s, z-index linear 0s .3s;
}

.article h1{
    font-size: 35px;
    margin: 1em 2em .5em;
    color: #555;
    text-shadow: -1px -1px 0 #333, 2px 2px 0 #FFF;
    font-family: 'Ubuntu', sans-serif;
}
.article p{
    margin: 20px;
    font-family: 'Philosopher', sans-serif;
    line-height: 1.5em;
}

aside{
    font-family: 'Philosopher', sans-serif;
    position: absolute;
}
aside#onTheRight{
    top: 200px;
    right: 20px;
    text-align: right;
}
#afix{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
}
#afix li{
    padding: 10px;
    cursor: pointer;
}
#afix li.active{
    border-left: 3px solid #333;
}