/*
    Created on : 10 feb. 2016
    Author     : Guillaume Martigny
*/

*{
    position: relative;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Philosopher", sans-serif;
    font-size: 16px;
    color: #111;
}
#main{
    height: 100vh;
    overflow: hidden;
}
body.ready.translator-ready .article{
    top: 50%;
}

.stroke{
    text-decoration: line-through;
}
.only-print{
    display: none;
}

.article{
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 980px;
    height: 600px;
    margin: -300px auto 0;
    line-height: 1.5em;
    padding: 0 30px;
    opacity: 1;
    transition: opacity linear .3s, top ease-out .5s, transform ease-out .3s;
    background: linear-gradient(120deg,
        rgba(220, 230, 240, .6) 0, rgba(220, 230, 240, .6) 15%, rgba(250, 250, 250, .7) 20%, rgba(220, 230, 240, .6) 30%,
        rgba(250, 250, 250, .6) 32%, rgba(220, 230, 240, .6) 34%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}
.article:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: solid rgba(250, 250, 250, .8);
    border-width: 2px 0 0 2px;
}
.article.overflow{
    opacity: 0;
    z-index: -1 !important;
    transition: opacity linear .3s, top ease-out 0s, transform ease-out .3s, z-index linear 0s .3s;
}

.article h1, .article h2{
    font-family: "Ubuntu", "Philosopher", sans-serif;
    margin: 1.4em 1em;
    color: #555;
    text-shadow: -1px -1px 0 #333, 2px 2px 0 #FFF;
}
.article h1{
    font-size: 36px;
}
.article h2{
    font-size: 22px;
}
.article p{
    margin: 1em 0;
    clear: both;
}

a{
    text-decoration: none;
    color: #d95b5b;
    font-weight: bold;
}
.article a:hover{
    text-decoration: underline;
}
.article a:hover sup{
    text-decoration: none;
}

#ident{
    float: left;
    margin: 10px;
}

ul.profiles{
    list-style: none;
    margin: 20px 0;
}
ul.profiles li{
    margin: 20px 0;
}
.profiles a{
  display: inline-block;
  background: #FFF;
}
.profiles a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}
.profiles a:hover:after{
    background-color: #d95b5b;
}
.profiles img{
    vertical-align: middle;
}

aside{
    display: table;
    position: absolute;
    height: 100%;
}
#onTheRight{
    right: 50px;
    text-align: right;
    width: 120px;
}
#affix{
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
}
#affix-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
#affix-list:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 3px;
    height: calc(1em + 22px);
    background-color: #333;
    transition: transform ease-out .3s;
}
#affix-list.sel-0:after {
    transform: translate3d(0, 0, 0);
}
#affix-list.sel-1:after {
    transform: translate3d(0, calc(1em + 22px), 0);
}
#affix-list.sel-2:after {
    transform: translate3d(0, calc((1em + 22px) * 2), 0);
}
#affix-list.sel-3:after {
    transform: translate3d(0, calc((1em + 22px) * 3), 0);
}
#affix-list.sel-4:after {
    transform: translate3d(0, calc((1em + 22px) * 4), 0);
}
#affix-list.sel-5:after {
    transform: translate3d(0, calc((1em + 22px) * 5), 0);
}
#affix-list li{
    padding: 10px;
    cursor: pointer;
}

#printer{
    display: block;
    padding: 10px;
}

#lang-switches{
    text-align: center;
    padding: 10px;
}
#lang-switches .translator-switch{
    background: none;
    border: 1px outset #999;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    outline: none;
}
#lang-switches .translator-switch.translator-active{
    color: #f2da4e;
    border-color: #f2da4e;
}
/* Use full width */
@media screen AND (max-width: 1320px){
    .article{
        width: calc(100% - 120px);
        margin: -300px 0 0;
    }
    #onTheRight{
        right: 0;
    }
}
/* Add 200px to height */
@media screen AND (max-width: 1045px){
    body.ready.translator-ready .article{
        height: 800px;
        margin: -400px 0 0;
    }
}
/* Use full height */
@media screen AND (max-height: 800px), screen AND (max-width: 640px){
    body.ready.translator-ready .article{
        height: 100vh;
        margin-top: 0;
        top: 0;
        overflow: auto;
    }
}
