/*
    Created on : 10 feb. 2016
    Author     : Guillaume Martigny
*/

*{
    position: relative;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body{
    margin: 0;
    overflow: hidden;
    font-family: "Philosopher", sans-serif;
    font-size: 16px;
    color: #111;
}
body.ready .article{
    top: 50%;
}

.stroke{
    text-decoration: line-through;
}
.only-print{
    display: none;
}

.article{
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 980px;
    height: 600px;
    margin: -300px auto 0;
    line-height: 1.5em;
    padding: 0 30px;
    opacity: 1;
    transition: opacity linear .3s 0s, top ease-out .5s;
    background: linear-gradient(120deg,
        rgba(220, 230, 240, .6) 0, rgba(220, 230, 240, .6) 15%, rgba(250, 250, 250, .7) 20%, rgba(220, 230, 240, .6) 30%,
        rgba(250, 250, 250, .6) 32%, rgba(220, 230, 240, .6) 34%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}
.article:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: solid rgba(250, 250, 250, .8);
    border-width: 2px 0 0 2px;
}
.article.overflow{
    opacity: 0;
    z-index: -1 !important;
    transition: opacity linear .3s, z-index linear 0s .3s;
}

.article h1, .article h2{
    font-family: "Ubuntu", "Philosopher", sans-serif;
    margin: 1.4em 1em;
    color: #555;
    text-shadow: -1px -1px 0 #333, 2px 2px 0 #FFF;
}
.article h1{
    font-size: 36px;
}
.article h2{
    font-size: 22px;
}
.article p{
    margin: 1em 0;
    clear: both;
}

a{
    text-decoration: none;
    color: #d95b5b;
    font-weight: bold;
}
.article a:hover{
    text-decoration: underline;
}
.article a:hover sup{
    text-decoration: none;
}

#ident{
    float: left;
    margin: 10px;
}

ul.profiles{
    list-style: none;
    margin: 20px 0;
}
ul.profiles li{
    margin: 20px 0;
}
.profiles a{
  display: inline-block;
  background: #FFF;
}
.profiles a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}
.profiles a:hover:after{
    background-color: #d95b5b;
}
.profiles img{
    vertical-align: middle;
}

aside{
    display: table;
    position: absolute;
    height: 100%;
}
#onTheRight{
    right: 50px;
    text-align: right;
}
#afix{
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
}
#afix-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
#afix-list li{
    padding: 10px;
    cursor: pointer;
}
#afix-list li.active{
    border-left: 3px solid #333;
}

#printer{
    display: block;
    padding: 10px;
}

#lang-switchs{
    text-align: center;
    padding: 10px;
}
#lang-switchs .translator-switch{
    background: none;
    border: 1px outset #999;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    outline: none;
}
#lang-switchs .translator-switch.active{
    color: #f2da4e;
    border-color: #f2da4e;
}

@media screen AND (max-width: 1290px){
    .article{
        width: calc(100% - 110px);
        margin-right: 110px;
    }
    #onTheRight{
        right: 0;
    }
}
@media screen AND (max-width: 630px), screen AND (max-height: 600px){
    body.ready .article{
        height: 100vh;
        margin: 0;
        top: 0;
        overflow: auto;
    }
}

@media print{
    body{
        overflow: auto;
        font-size: 12pt;
    }

    .no-print{
        display: none;
    }
    .only-print{
        display: block;
    }

    #contact-infos{
        float: right;
    }

    a sup{
        display: none;
    }

    .article{
        position: relative;
        top: auto !important;
        margin: 15px auto 0;
        overflow: hidden;
        width: 18cm;
        height: auto;
        opacity: 1 !important;
        transform: none !important;
        -webkit-transform: none !important;
        filter: blur(0px) !important;
        -webkit-filter: blur(0px) !important;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
        page-break-inside: avoid;
        z-index: 1 !important;
    }

    .article h1, .article h2{
        margin: 1em;
    }
    .article h1{
        font-size: 18pt;
    }
    .article h2{
        font-size: 15pt;
    }
}